
welcome</br>
file at :.../views/qwwinix/milan.html
</br>
<a href="http://www.google.co.in">google</a>

<form>
	<label>first name: <input type="text" name="fname"/>
	</label></br>
	<label>last name: <input type="text" name="lname"/>
	</label></br>
	<label>Employee id: <input type="text" name="eid"/>
	</label></br>
	<!-- <label>age: <input type="number" name="age"></label></br> -->
	<label>designation: <input type="text" name="designation">
	</label></br>
	<button type="submit">submit</button>
	<button type="cancel">cancel</button>

</form>